*{
    
}

.title {
    text-align:center;
}

body{
   }

#content {
    background-color:white;
    border: 0px dotted;
    margin: 0 auto;
    width:800px;
    padding:0px;
}


#table-of-contents{
   border-bottom:1px solid;
   border-top:1px solid
}

#nav{
  width: 100%;
  float: left;
  margin: 0 0 3em 0;
  padding: 0;
  list-style: none;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ccc; 
  border-top: 1px solid #ccc;  
}

#nav li {
  float: left; }

#nav li a {
  display: block;
  padding: 8px 15px;
  text-decoration: none;
  font-weight: bold;
  color: #069;
  border-right: 1px solid #ccc; }

#nav li a:hover {
  color: #c00;
  background-color: #fff; }

#headline {
    font-family: fantasy;
    font-size: x-large;
    text-align: center;
}

.title {
    font-family: monaco;
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

blockquote p {
  
}